
estudos/
/firstDesktopApp/nbproject/private/
/firstDesktopApp/build/
/PessoaApp/nbproject/private/
/others/tony/firstDesktopApp/build/
/others/tony/firstDesktopApp/nbproject/private/
/mount/build/
/mount/nbproject/private/
/others/tony/mount/build/
/others/tony/mount/nbproject/private/
/JavaApplication9/nbproject/private/
/GUIU/nbproject/private/
/MainPeople/nbproject/private/
/MainPeople/build/
